<div class="container">
  <form [formGroup]="photoForm" class="row" (submit)=upload()>
    <div class="col-md-6 text-center">

      <div class="form-group" *ngIf="!preview; else previewImage">
        <!-- preview - se essa variável for vazia ou null é "false", então com "!preview" fica true pra exibir o botão -->
        <button immediateClick type="button" (click)="fileInput.click()" class="btn btn-primary">
          <!-- #fileInput é uma variável de template onde vai acessar os elementos do DOM do input e se for em colocado em cima do componente dará acesso ao componente -->
          <i class="fa fa-image fa-4x align-middle"></i>
        </button>
        <input
          #fileInput
          hidden
          formControlName="file"
          type="file"
          (change)="handleFile($event.target.files[0])"
          accept="image/*"/><!-- accept="image/*" - quando selecionar os arquivos para upload, será só aceito apenas arquivos de imagens. -->
        <ap-vmessage
          text="Please, select a photo"
          *ngIf="photoForm.get('file').errors?.required">
        </ap-vmessage>
      </div>

      <ng-template #previewImage>
        <div class="text-center">
          <ap-photo [url]="preview" description="Preview" title="Preview"></ap-photo>
        </div>
      </ng-template>

    </div>

    <div class="col-md-6">
      <div class="form-group">
        <textarea
          formControlName="description"
          class="form-control form-control-sm"
          placeholder="photo description"
        ></textarea>
        <ap-vmessage
          text="Maximun size allowed is 300"
          *ngIf="photoForm.get('description').errors?.maxlength">
        </ap-vmessage>
      </div>

      <div class="form-group">
        <label class="text-muted">
          Allow comments
          <input
            formControlName="allowComments"
            type="checkbox"
          />
        </label>
      </div>

      <button [disabled]="photoForm.invalid" type="submit" class="btn btn-primary btn-block">
        Upload
      </button>

      <a class="btn btn-secondary btn-block">Cancel</a>
    </div>
  </form>
</div>
